<div class="row">
    <div class="col-sm-12" id="footer">
        <div class="card">
           <div class="row">
               <div class="card-block">
                   <div class="row justify-content-center ">
                       <div class="col-6 col-md-3 col-lg-1">
                           <a href="{{ path('main_footer_about') }}">{% trans from 'footer' %} footer.about {% endtrans %}</a>
                       </div>
                       <div class="col-6 col-md-3 col-lg-1">
                           <a href="{{ path('main_admission') }}">{% trans from 'footer' %} Admission {% endtrans %}</a>
                       </div>
                       <div class="col-6 col-md-3 col-lg-1">
                           <a href="{{ path('main_footer_privacy') }}">{% trans from 'footer' %} footer.terms {% endtrans %}</a>
                       </div>
                       <div class="col-6 col-md-3 col-lg-1">
                           <a href="{{ path('main_footer_confid') }}">{% trans from 'footer' %} footer.privacy {% endtrans %}</a>
                       </div>
                       <div class="col-6 col-md-3 col-lg-1">
                           <a href="{{ path('main_footer_job') }}">{% trans from 'footer' %} footer.quick {% endtrans %}</a>
                       </div>
                       <div class="col-6 col-md-3 col-lg-1">
                           <a href="{{ path('main_footer_safety') }}">{% trans from 'footer' %} footer.cities {% endtrans %}</a>
                       </div>
                       <div class="col-6 col-md-3 col-lg-1">
                           <a href="{{ path('main_footer_help') }}">{% trans from 'footer' %} footer.help {% endtrans %}</a>
                       </div>
                       <div class="col-6 col-md-3 col-lg-1">
                           <a href="{{ path('main_footer_presse') }}">{% trans from 'footer' %} footer.press {% endtrans %}</a>
                       </div>
                   </div>
                   <br>
                   <div class="row justify-content-center zone_icon">
                       <div class="col-6 col-md-2 col-lg-1">
                           <a href="https://www.facebook.com/" class="btn-sm btn-primary"><i class="fa fa-facebook-official"></i></a>
                       </div>
                       <div class="col-6 col-md-2 col-lg-1">
                           <a href="https://plus.google.com/?hl=fr" class="btn-sm btn-danger"><i class="fa fa-google"></i></a>
                       </div>
                       <div class="col-6 col-md-2 col-lg-1">
                           <a href="https://twitter.com/signup?lang=fr" class="btn-sm btn-primary"><i class="fa fa-twitter"></i></a>
                       </div>
                       <div class="col-6 col-md-2 col-lg-1">
                           <a href="https://www.youtube.com/" class="btn-sm btn-danger"><i class="fa fa-youtube-play"></i></a>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>