{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'phone' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'phone' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}

{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
    <style>

    </style>

{% endblock %}

{% block header %}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}


             <img  class="banner_im" src="{{ asset('data/img/ban.jpg') }}" alt="">

    <br>
    <br>
    <br>
    <br>
    <div class="container text-center">

        <div class="row">
            <div class="col-sm-4">
                <a href="">
                    <img  class="banner_im" src="{{ asset('data/img/rencontre2.jpg') }}" alt="" style="width:100%" alt="Image" class="img-responsive">

               <strong> <p>{% trans from 'presse' %} presse.block1 {% endtrans %}</p></strong></a>
            </div>
            <div class="col-sm-4">

                <a href="">
                    <img  class="banner_im" src="{{ asset('data/img/femme2.jpg') }}" alt="" class="img-responsive" style="width:100%">

                <strong><p>{% trans from 'presse' %} presse.block2 {% endtrans %}</p></strong></a>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <h1><p><strong>{% trans from 'presse' %} presse.block3 {% endtrans %}: </strong></p></h1>
                    <h4><p><strong><a href="mailto:pascal4400@gmail.com">press@funglobe.com</a>!</strong></p></h4>
                </div>
                <div class="well">
                    <h2><strong><p>{% trans from 'presse' %} presse.block4 {% endtrans %}:</p></strong></h2>
                    <h4><p><strong><a href="monfichier.zip">{% trans from 'presse' %} presse.block5 {% endtrans %}</a></strong></p></h4>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-sm-4">
       <div>
       </div>
    </div>
    <div class="col-sm-4">
        <div>
            <a href=""><button type="button" class="btn btn-primary" style="background-color: #0275D8">{% trans from 'presse' %} presse.block6 {% endtrans %}</button></a>
        </div>
    </div>
    <div class="col-sm-4">
        <div>

            <h2><strong>{% trans from 'presse' %} presse.block7 {% endtrans %}</strong></h2>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
            <div class="col-sm-1">
                <div>
                    <a href="https://twitter.com/signup?lang=fr"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-sm-1">
                <div>
                    <a href="https://accounts.google.com/SignUp?hl=fr"><i class="fa fa-google"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>
    <br>
<div class="row">
    <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
        <div>
            <h3 style="text-align: center"><p><strong>{% trans from 'presse' %} presse.block8 {% endtrans %}</strong></p></h3>

            {% trans from 'presse' %} presse.block9 {% endtrans %}
        </div>

    </div>
    <div class="col-sm-2">
    </div>
    </div>
    <br>
    <br>

    <div class="container text-center">

        <div class="row">
            <div class="col-sm-4">
                <a href=""><img  class="banner_im" src="{{ asset('data/img/t2.jpg') }}" alt="" class="img-responsive" style="width:100%">
                </a>
                    <p></p>
            </div>
            <div class="col-sm-4">
                <a HREF=""><img  class="banner_im" src="{{ asset('data/img/t1.jpg') }}" alt="" class="img-responsive" style="width:100%"></a>

                    <p></p>
            </div>
            <div class="col-sm-4">
                <a HREF=""><img  class="banner_im" src="{{ asset('data/img/t3.jpg') }}" alt="" class="img-responsive" style="width:100%"></a>

                    <p></p>
            </div>

        </div>
    </div>
    <br>

<div class="row">
    <div class="col-sm-1" >
        </div>
    <div class="col-sm-5" id="bat2">
        {% trans from 'presse' %} presse.block10 {% endtrans %}
    </div>
    <div class="col-sm-5" id="bat1">
        {% trans from 'presse' %} presse.block11 {% endtrans %} <a href="mailto:pascal4400@gmail.com">press@funglobe.com.</a>
    </div>
    <div class="col-sm-1">
    </div>
</div>
    <br>
    <br>
<div class="row">
    <div class="col-sm-2" >
    </div>
    <div class="col-sm-8" >
        <h2><strong><p style="text-align: center">{% trans from 'presse' %} presse.block12 {% endtrans %}</p></strong></h2>
        {% trans from 'presse' %} presse.block13 {% endtrans %} <a href="mailto:pascal4400@gmail.com">press@funglobe.com</a>.
        {% trans from 'presse' %} presse.block14 {% endtrans %}.
    </div>
    <div class="col-sm-2" >
    </div>
</div>
    <br>
    <br>


{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm-1" >
        </div>
        <div class="col-sm-10" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-5" >

                        <div class="container">

                            <form action="/action_page.php">
                                <div class="form-group">
                                    <label for="email">{% trans from 'presse' %} presse.block15 {% endtrans %}:</label>
                                    <input type="text" class="form-control" id="email" placeholder={% trans from 'presse' %} presse.block29 {% endtrans %} name="email">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">{% trans from 'presse' %} presse.block16 {% endtrans %}:</label>
                                    <input type="text" class="form-control" id="pwd" placeholder={% trans from 'presse' %} presse.block30 {% endtrans %} name="pwd">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-5">

                        <div class="container">

                            <form action="/action_page.php" style="border-color: #0000fe">
                                <div class="form-group">
                                    <label for="email">{% trans from 'presse' %} presse.block17 {% endtrans %}:</label>
                                    <input type="email" class="form-control" id="email" placeholder={% trans from 'presse' %} presse.block27 {% endtrans %} name="email">
                                </div>
                                <div class="form-group" >
                                    <label for="pwd">{% trans from 'presse' %} presse.block18 {% endtrans %}:</label>
                                    <input type="tel" class="form-control" id="pwd" placeholder={% trans from 'presse' %} presse.block28 {% endtrans %} name="pwd">
                                </div>
                                {% trans from 'presse' %} presse.block19 {% endtrans %}: <textarea name="comment" rows="5" cols="39" placeholder={% trans from 'presse' %} presse.block31 {% endtrans %}></textarea>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="remember"> {% trans from 'presse' %} presse.block20 {% endtrans %}</label>
                                </div>
                                <button type="submit" class="btn btn-default" style="background-color: #0275D8">{% trans from 'presse' %} presse.block21 {% endtrans %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1" >
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-2" >
        </div>
        <div class="col-sm-7" >
            {% trans from 'presse' %} presse.block22 {% endtrans %} <a href="{{ path('main_footer_privacy') }}">{% trans from 'presse' %} presse.block23 {% endtrans %}</a>,<a href="">{% trans from 'presse' %} presse.block24 {% endtrans %}</a>  {% trans from 'presse' %} presse.block25 {% endtrans %} <a href="">{% trans from 'presse' %} presse.block26 {% endtrans %}</a>
        </div>
        <div class="col-sm-2" >
        </div>
    </div>

{% endblock %}

{% block myjs %}

    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}



