{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'privacy' %} privacy.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'privacy' %} privacy.block {% endtrans %}" >
{% endblock %}
{% block title %}
    {% trans from 'privacy' %} privacy {% endtrans %}
{% endblock  %}
{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
{% endblock %}
{% block main %}
    <div class="row" id="main_privacy">
        <div class="row">
            <div class ="col-sm-12 col  col-lg-3" >
                <h4 class="center-align"> {% trans from 'privacy' %} privacy.title45 {% endtrans %} </h4>
                <p>
                    <a class="center-align"  href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title46 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}"> {% trans from 'privacy' %}  privacy.title47 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title48 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title49 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title50 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title51 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title52 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title53 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title54 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title55 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title56 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title57 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title58 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title59 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title60 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title61 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title62 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title63 {% endtrans %} </a>
                </p>
                <p>
                    <a class="center-align" href="{{ path('main_footer_privacy') }}" > {% trans from 'privacy' %}  privacy.title64 {% endtrans %} </a>
                </p>
            </div>
             <div class="col col-lg-9">
             <div class="text-justify">
                    <h4 > {% trans from 'privacy' %}privacy.title  {% endtrans %} </h4>
                    <h5><p> {% trans from 'privacy' %}privacy.title2  {% endtrans %}</p></h5>
                    <p align="justify"> {% trans from 'privacy' %}privacy.block  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block1  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block2  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block3  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block4  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block5  {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title3  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block6  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block7  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block8  {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title4  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title5  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title6  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block9  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block10  {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block11 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title7  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block12 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block13 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block14 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block15 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block16 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block17 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block18 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block19 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block20 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block21 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block22 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block23 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block24 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title8  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block25 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title9  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block26 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title91  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block27 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title10  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block28 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title11  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block29 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title12  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title131  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block230 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block31 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block32 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block33 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block34 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block35 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block36 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block37 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block38 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title13  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block39 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title14  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block40 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title15  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title16  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block41 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block42 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block43 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block44 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title17  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block45 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title18  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block46 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block47 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title19  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title20  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block48 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title21  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block49 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block50 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title22  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block51 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title23  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title24  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block52 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block54 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title25  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block55 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block56 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title26  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block57 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title271  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title27  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block58 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block59 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block60 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block61 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title28  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title291  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block62 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block63 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title29  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title30  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block64 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block65 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title31  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title32  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block66 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title331  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title33  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block67 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block68 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title34  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title35  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block69 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title36  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block70 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block71 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block72 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block73 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block74 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block75 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block76 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block77 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block78 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block79 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title37  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title38  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block80 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block81 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title39  {% endtrans %}</p></h5>
                    <h5><p> {% trans from 'privacy' %}privacy.title401  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block82 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block83 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block84 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block85 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block86 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block87 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block88 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title40  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block89 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block90 {% endtrans %}</p>
                    <p align=""> {% trans from 'privacy' %}privacy.block91 {% endtrans %}</p>
                    <h5><p> {% trans from 'privacy' %}privacy.title41  {% endtrans %}</p></h5>
                    <p align=""> {% trans from 'privacy' %}privacy.block92 {% endtrans %}</p>
             </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                     {% trans from 'privacy' %}  privacy.title421 {% endtrans %}: </a>
            </div>
            <div class="col">
                <p>
                    <a   href="{{ path('main_footer_privacy') }}"> <i class="fa fa-android"></i>{% trans from 'privacy' %}  privacy.title42 {% endtrans %} </a>
                </p>
            </div>
            <div class="col">
                <p>
                    <a  href="{{ path('main_footer_privacy') }}"> <i class="fa fa-apple"></i> {% trans from 'privacy' %}  privacy.title43 {% endtrans %} </a>
                </p>
            </div>
            <div class="col">
                  <p>
                    <a  href="{{ path('main_footer_privacy') }}"><i class="fa fa-windows"></i> {% trans from 'privacy' %} privacy.title44 {% endtrans %} </a>
                 </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}

