<!DOCTYPE html>
<html lang="en">
<head>
    <title>Funglobe dashboard</title>
    <meta charset="utf-8">
    <style>
        .thumbnail{
            background-color:#31b0d5;
        }
    </style>

</head>
<body>

<div class="container">
    <p>
    <h2>Welcome to Funglobe Dashboard</h2>
    </p>
    </br>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img   src="{{ asset('data/img/users2.jpg') }}" alt="" width="304" height="136">
                    <div class="caption">
                        <p>Number of registered users today:</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/nature.jpg" target="_blank">
                    <img   src="{{ asset('data/img/users2.jpg') }}" alt="" width="304" height="136">
                    <div class="caption">
                        <p>Number of users registered this week:</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/fjords.jpg" target="_blank">
                    <img   src="{{ asset('data/img/users2.jpg') }}" alt="" width="304" height="136">
                    <div class="caption">
                        <p>Number of users registered this month:</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img   src="{{ asset('data/img/pol22.jpg') }}" alt="" width="304" height="136">
                    <div class="caption">
                        <p>Number of registered users today:</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="/w3images/lights.jpg" target="_blank">
                    <img   src="{{ asset('data/img/pol22.jpg') }}" alt="" width="304" height="136">
                    <div class="caption">
                        <p>Number of registered users :</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
