
<ul class="nav justify-content-center bg-primary fixed-top" id="nav" data-menu="nav">
    <li class="nav-item" id="logo">
        <a class="nav-link active" href="{{ path('main_profile') }}">Funglobe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('main_profile') }}">
            <span class="fa fa-2x fa-search"></span> <br>
            {% trans from "main-nav" %} matches {% endtrans %}
        </a>

    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="#"  data-href="{{ path('main_profile_messages') }}" id="dropdownMenuMessages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-2x fa-comment"></span> <br>
            {% trans from "main-nav" %} messages {% endtrans %} <br>
            <span class="badge badge-danger"></span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <span class="fa fa-2x fa-bell"></span> <br>
            {% trans from "main-nav" %}notification {% endtrans %}<br>
            <span class="badge badge-danger"></span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{{ path('main_profile_photos') }}">
            <span class="fa fa-2x fa-camera"></span> <br>
            {% trans from "main-nav" %} photos {% endtrans %}
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" data-href="{{ path('main_profile_friends') }}" id="dropdownMenuFreinds" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-2x fa-users"></span> <span class="badge badge-danger"></span> <br>
            {% trans from "main-nav" %} friend {% endtrans %}
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">{% trans from "main-nav" %}
            <span class="fa fa-2x fa-credit-card"></span> <br>
            credits {% endtrans %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">{% trans from "main-nav" %}
            <span class="fa fa-2x fa-shopping-cart"></span> <br>
            publicity {% endtrans %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('main_profile_vips') }}">
            <span class="fa fa-2x fa-money"></span> <br>
            {% trans from "main-nav" %} vip {% endtrans %}
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">
            <span class="fa fa-2x fa-user"></span> <br>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                <a class="nav-link" href="{{ path('main_profile_compte') }}">{% trans from "main-nav" %}<span class="fa fa-user"></span> profile {% endtrans %}</a>
            </a>
            <a class="dropdown-item" href="{{ path('main_profile_parameter') }}">{% trans from "main-nav" %}<span class="fa fa-wrench"></span> parameter {% endtrans %}</a>
            <a class="dropdown-item" href="{{ path('main_logout') }}">{% trans from "main-nav" %}<span class="fa fa-power-off"></span> deconnection {% endtrans %}</a>
        </div>
    </li>
</ul>
<div id="toogleNav">
    {% include 'MainBundle:Notification:messages.html.twig' %}
    {% include 'MainBundle:Notification:friends.html.twig' %}
</div>