<div id="carousel" class="carousel slide " data-ride="carousel" data-menu="matches">
    <div class="carousel-inner" role="listbox">
        {#
            <div class="carousel-item active align-items-center justify-content-md-center">
           <div class="row">
               <div class="col">
                   <img class="d-block img-fluid rounded-circle" src="{{ asset('data/img/avatar.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar2.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar3.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar4.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar5.png') }}" alt="First slide">
               </div>
           </div>
        </div>
        <div class="carousel-item  align-items-center justify-content-md-center">
           <div class="row">
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar5.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid rounded-circle" src="{{ asset('data/img/avatar.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar2.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar3.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar4.png') }}" alt="First slide">
               </div>
               <div class="col">
                   <img class="d-block img-fluid  rounded-circle" src="{{ asset('data/img/avatar5.png') }}" alt="First slide">
               </div>
           </div>
        </div>
        #}
    </div>
    <a class="carousel-control-prev action " href="#carousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-circle-left"></span>
    </a>
    <a class="carousel-control-next action" href="#carousel" role="button" data-slide="next">
        <span class="fa fa-chevron-circle-right"></span>
    </a>
</div>