<div class="row" style="position: relative">
    <div class="col-lg-12" id="pics-header">
        <div class="row">
            <div class="col-lg-3">
                Nombre de photos : <span id="nb-pics">457</span>
            </div>
            <div class="col-lg-5" id="loader">
                <div id="pics-loader">
                    <img src="{{ asset('dist/loader.gif') }}"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pictures action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" id="mn-private-pics">Set private</a>
                        <a class="dropdown-item" href="#" id="mn-delete-pics">Delete</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="hr-line"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row" id="pictures-view">
            <div class="col-lg-3">
                <div class="bp-item bp-house">
                    <div class="item-media">
                        <img class="item-img" src="{{ asset('dist/photo2.png') }}" alt="" />
                    </div>
                    <div class="item-details">
                        <div class="bp-details">
                            <span><input type="checkbox" class="pics-chk" data-id="1"/></span>
                            <a href="#" id="user-id">User Id</a>
                        </div>
                        <div class="bp-details">Ajouté le : <b>13/07/2017 15:29:53</b></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bp-item bp-house">
                    <div class="item-media">
                        <img class="item-img" src="{{ asset('dist/photo2.png') }}" alt="" />
                    </div>
                    <div class="item-details">
                        <div class="bp-details">
                            <span><input type="checkbox" class="pics-chk" data-id="1"/></span>
                            <a href="#" id="user-id">User Id</a>
                        </div>
                        <div class="bp-details">Ajouté le : <b>13/07/2017 15:29:53</b></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bp-item bp-house">
                    <div class="item-media">
                        <img class="item-img" src="{{ asset('dist/photo2.png') }}" alt="" />
                    </div>
                    <div class="item-details">
                        <div class="bp-details">
                            <span><input type="checkbox" class="pics-chk" data-id="1"/></span>
                            <a href="#" id="user-id">User Id</a>
                        </div>
                        <div class="bp-details">Ajouté le : <b>13/07/2017 15:29:53</b></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bp-item bp-house">
                    <div class="item-media">
                        <img class="item-img" src="{{ asset('dist/photo2.png') }}" alt="" />
                    </div>
                    <div class="item-details">
                        <div class="bp-details">
                            <span><input type="checkbox" class="pics-chk" data-id="1"/></span>
                            <a href="#" id="user-id">User Id</a>
                        </div>
                        <div class="bp-details">Ajouté le : <b>13/07/2017 15:29:53</b></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bp-item bp-house">
                    <div class="item-media">
                        <img class="item-img" src="{{ asset('dist/photo2.png') }}" alt="" />
                    </div>
                    <div class="item-details">
                        <div class="bp-details">
                            <span><input type="checkbox" class="pics-chk" data-id="1"/></span>
                            <a href="#" id="user-id">User Id</a>
                        </div>
                        <div class="bp-details">Ajouté le : <b>13/07/2017 15:29:53</b></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bp-item bp-house">
                    <div class="item-media">
                        <img class="item-img" src="{{ asset('dist/photo2.png') }}" alt="" />
                    </div>
                    <div class="item-details">
                        <div class="bp-details">
                            <span><input type="checkbox" class="pics-chk" data-id="1"/></span>
                            <a href="#" id="user-id">User Id</a>
                        </div>
                        <div class="bp-details">Ajouté le : <b>13/07/2017 15:29:53</b></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bp-item bp-house">
                    <div class="item-media">
                        <img class="item-img" src="{{ asset('dist/photo2.png') }}" alt="" />
                    </div>
                    <div class="item-details">
                        <div class="bp-details">
                            <span><input type="checkbox" class="pics-chk" data-id="1"/></span>
                            <a href="#" id="user-id">User Id</a>
                        </div>
                        <div class="bp-details">Ajouté le : <b>13/07/2017 15:29:53</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12" id="pagination" style="width: 100%">
                <ul class="pagination pull-right" id="ul-pagination">
                    <li class="page-item"><a class="pic-pg-link" href="#" id="pg-prev" data-page="1">&lt;</a></li>
                    <li class="page-item"><a class="pic-pg-link" href="#" id="pg-next" data-page="1">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>