{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    {% trans from 'member' %} member.title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
{% endblock %}

{% block main %}
    {% include 'AdminBundle:Inc:pascalnavbar.html.twig' %}

    <div class="row" id="adminMember" data-page="adminMember">
        <div class="admin_page_title">
            {% trans from 'member' %} member.page_title {% endtrans %}
        </div>
        <div class="container">
            <div class="col-sm-12" id="mb-header">
                <span>{{ member.firstName ~ member.lastName }} {% if member.isVip %}(vip){% endif %}</span>

                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-info" id="btn-status-member" data-mid="{{ member.id }}" data-action="{% if member.enabled %} set {% else %} unset {% endif %}">
                        {% if member.enabled %}
                            {% trans from 'member' %} member.set_locked {% endtrans %}
                        {% else %}
                            {% trans from 'member' %} member.unset_locked {% endtrans %}
                        {% endif %}
                    </button>
                    <button type="button" class="btn btn-success" id="btn-vip-member" data-mid="{{ member.id }}" data-action="{% if member.isVip %} unset {% else %} set {% endif %}">
                        {% if member.isVip %}
                            {% trans from 'member' %} member.unset_vip {% endtrans %}
                        {% else %}
                            {% trans from 'member' %} member.set_vip {% endtrans %}
                        {% endif %}
                    </button>
                    <button type="button" id="btn-role-action" data-edit="0" data-mid="{{ member.id }}" class="btn btn-primary">
                        {% trans from 'member' %} member.change_role {% endtrans %}
                    </button>
                </div>
            </div>
            <div class="col-sm-12">
                {% set member_role = member.roles[0] %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans from 'member' %} member.th_property {% endtrans %}</th>
                            <th>{% trans from 'member' %} member.th_value {% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {% trans from 'member' %} member.lbl_role {% endtrans %}
                        </td>
                        <td>
                            <select id="cb-roles" class="form-control" data-role="{{ member_role }}" disabled>
                                {% for role in roles %}
                                    <option value="{{ role['value'] }}" {% if member_role == role['value'] %}selected{% endif %}>{{ role['name_'~app.request.locale] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_email {% endtrans %}</td>
                        <td>{{ member.email }}</td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_birth {% endtrans %}</td>
                        <td>{{ member.birthDate|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_gender {% endtrans %}</td>
                        <td>
                            {% if member.gender == 'M'  %}
                                {% trans from 'member' %} member.val_male {% endtrans %}
                            {% else %}
                                {% trans from 'member' %} member.val_female {% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_country {% endtrans %}</td>
                        <td id="mb-country" data-country="{{ member.country }}"></td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_ipaddress {% endtrans %}</td>
                        <td>{# member.lbl_ipaddress #} <a href="#">{% trans from 'member' %} member.set_locked {% endtrans %}</a></td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_vip {% endtrans %}</td>
                        <td>
                            {% if member.isVip  %}
                                {% trans from 'member' %} member.lbl_yes {% endtrans %}
                            {% else %}
                                {% trans from 'member' %} member.lbl_no {% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_blocked {% endtrans %}</td>
                        <td>
                            {% if member.enabled  %}
                                {% trans from 'member' %} member.lbl_no {% endtrans %}
                            {% else %}
                                {% trans from 'member' %} member.lbl_yes {% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_profession {% endtrans %}</td>
                        <td>{{ member.profession == null ? 'N/C' : member.profession }}</td>
                    </tr>
                    <tr>
                        <td>{% trans from 'member' %} member.lbl_last_login {% endtrans %}</td>
                        <td>{{ member.lastLogin == null ? 'N/C' : member.lastLogin|date('d/m/Y h:i:s') }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="{{ path('admin_home') }}">
                                <span class="glyphicon glyphicon-arrow-left"></span> {% trans from 'member' %} member.lbl_back_home {% endtrans %}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}

{% endblock %}

