{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'about' %} about.block14 {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'about' %} about.block15 {% endtrans %}" >
    <meta charset="utf-8">

{% endblock %}
{% block title %}
    {% trans from 'about' %} about.title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}

{% endblock %}

{% block  mainLg %}
    <div id="main_programme">
        <div class="bagroun_programme">
        <div class="firstbar_programme ">
            <div class="espace_programme">
                <div id="mains_programme" class="margin_top">
                    <ul>
                        <li class="drop"><a href="#home">{% trans from 'admission' %} admission.Navbar {% endtrans %}</a></li>
                        <li>
                            <a href="#">{% trans from 'admission' %} admission.admiss{% endtrans %} </a>
                        </li>
                        <li class="drop"><a href="#news">{% trans from 'admission' %} admission.preinscription {% endtrans %}</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">{% trans from 'admission' %} admission.cours {% endtrans %}</a>
                            <div class="dropdown-content">
                                <a href="#">Level 1</a>
                                <a href="#">Level 2</a>
                                <a href="#">Level 3</a>
                            </div>
                        </li>
                        <li class="drop"><a href="{{ path('main_programme') }}">{% trans from 'admission' %} admission.program {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.campus {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.etudiant {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.diplom {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.documentation {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.entreprise {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.contact {% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="secondbar">
            <div  class="title_admission">
                <h3> {% trans from 'admission' %} programme.bachelor_content43 {% endtrans %}</h3>
                <a href="" class="link_program">{% trans from 'admission' %} programme.bachelor_content44 {% endtrans %}</a> >
                <a href="" class="link_program">{% trans from 'admission' %} programme.bachelor_content45 {% endtrans %}</a> >
               <span class="link_program"> {% trans from 'admission' %} programme.bachelor_content43 {% endtrans %} </span>
            </div>
        </div>
        {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
        <div class="bagroun_programme  padding_programme_content">
            <div class="row">
                <div class="col-sm-8 ">
                    <img class="admission_image"  src="{{ asset('data/img/programme1.jpg') }}" alt="">
                    <div class="admission_content">
                        <p><h4 class="title_admission_content"> {% trans from 'admission' %} programme.bachelor_content38 {% endtrans %}</h4></p>
                        <p><h5 class="title_admission_content2" > {% trans from 'admission'%} programme.bachelor_content39 {% endtrans %}</h5></p>
                        <p>
                            {% trans from 'admission' %}programme.bachelor_content40  {% endtrans %}
                        </p>
                        <p>
                            {% trans from 'admission' %} programme.bachelor_content41 {% endtrans %}
                        </p>
                        <p>
                            {% trans from 'admission' %}  programme.bachelor_content42 {% endtrans %}
                        </p>
                    </div>
                    <div class="bbachelor-container">
                        <button class="button button3">BACHELOR 1</button>
                        <a href=""><button class="button button3">BACHELOR 2</button></a>
                        <a href=""><button class="button button3">BACHELOR 3</button></a>
                    </div>
                    <div class="bachelor_contain">
                        <p> <h4 class="title_admission_content">{% trans from 'admission' %}  programme.bachelor_content1 {% endtrans %} </h4></p>
                        <h6 class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content2 {% endtrans %}</h6>
                        <ul>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content3 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content4 {% endtrans %} : C, C++</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content5 {% endtrans %} (php, html, css, mySQL)</li>
                        </ul>
                        <h6 class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content6 {% endtrans %}</h6>
                        <ul>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content7 {% endtrans %} (Windows – Linux</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content8 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content9 {% endtrans %}</li>
                        </ul>
                        <h6 class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content10 {% endtrans %}</h6>
                        <ul>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content11 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content12 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content13 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content14 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content15 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content16 {% endtrans %} </li>
                        </ul>
                        <h6 class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content17 {% endtrans %}</h6>
                        <ul>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content18 {% endtrans %}</li>
                            <li class="title_programme_content2" >{% trans from 'admission' %}  programme.bachelor_content19 {% endtrans %}</li>
                        </ul>
                        <h6 class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content20 {% endtrans %}</h6>
                        <ul>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content21 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content22 {% endtrans %}</li>
                        </ul>
                        <h4 class="title_programme_content">{% trans from 'admission' %}  programme.bachelor_content23 {% endtrans %}</h4>
                        <ul>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content24 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content25 {% endtrans %}</li>
                            <li class="title_programme_content2" >{% trans from 'admission' %}  programme.bachelor_content26 {% endtrans %}</li>
                        </ul>
                        <h4 class="title_programme_content">{% trans from 'admission' %}  programme.bachelor_content27 {% endtrans %}</h4>
                        <p>{% trans from 'admission' %}  programme.bachelor_content28 {% endtrans %}</p>
                        <h4 class="title_programme_content">{% trans from 'admission' %}  programme.bachelor_content29 {% endtrans %}</h4>
                        <ul>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content30 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content31 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content32 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content33 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content34 {% endtrans %}</li>
                            <li class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content35 {% endtrans %}</li>
                        </ul>
                        <h6 class="title_programme_content2">{% trans from 'admission' %}  programme.bachelor_content36 {% endtrans %}</h6>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hexagonn">
                        <div class="text_on_hexagon">
                            <h5> {% trans from 'admission' %}  programme.bachelor_content37 {% endtrans %}  </h5>
                            <hr style="background-color: black">
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.panorama {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.bachelor {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.bac5 {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content">{% trans from 'admission' %} admission.diplome {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content">{% trans from 'admission' %} admission.numerique {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {%trans from 'admission' %} admission.specialisation {% endtrans %}</a></br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-11 actualite ">
                    <div class="actu_title"><h1>ACTUALITÉS</h1></div>
                    <hr>
                    <div class="row">
                        <div class="flex-actualite">
                            <div class="flex-actu1">
                                <div class="actu_img">
                                    <img class="admission_image"  src="{{ asset('data/img/actu2.png') }}" alt="">
                                </div>
                            </div>
                            <div class="flex-actu2">
                                <h6>Actus Sup Info Cameroun</h6>
                                <h5>REVUE DE PRESSE – AOUT 2017</h5>
                                <p>
                                    On parle de nous dans la presse ! Vous trouverez ici tous les articles de presse relatifs à
                                    Sup Info Cameroun...
                                </p>
                                <a href=""><button class="button button3">LIRE LA SUITE</button></a>
                            </div>
                            <div class="flex-actu3">
                                <div class="actu_img">
                                    <img class="admission_image"  src="{{ asset('data/img/actu2.png') }}" alt="">
                                </div>
                            </div>
                            <div class="flex-actu4">
                                <h6>Actus Sup Info Cameroun</h6>
                                <h5>REVUE DE PRESSE – AOUT 2017</h5>
                                <p>
                                    On parle de nous dans la presse ! Vous trouverez ici tous les articles de presse relatifs à
                                    Sup Info Cameroun...
                                </p>
                                <a href=""><button class="button button3">LIRE LA SUITE</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="fourth_botton_bar">
                <div  class="vtitle_admission">
                    <h3> {% trans from 'admission' %}  {% endtrans %}</h3>
                </div>
            </div>
            <div class="row  botton_circle">
                <a href="">
                    <div class="circle1">
                        <a href=""></a>
                        <div class="fa fa-pencil pencils"></div>
                    </div>
                </a>
                <a href=""><div class="circle2">
                        <a href=""></a>
                        <div class="fa fa-book books"></div>
                    </div></a>
                <a href=""><div class="circle3">
                        <a href=""></a>
                        <div class="fa fa-envelope envelopes"></div>
                    </div>
                </a>
            </div>
            <div class="third_botton_bar_programme">
                <div  class="vtitle_admission">
                    <h3> {% trans from 'admission' %}  {% endtrans %}</h3>
                </div>
            </div>
            <div class="second_botton_bar">
                <div  class="text_on_second_bar">
                    <div class="row">
                        <h5> {% trans from 'admission' %} admission.text_on_second_bar {% endtrans %}</h5>
                        <h5>
                            <a href=" deco_text_on_second_bar"> {% trans from 'admission' %} admission.text_on_second_bar2 {% endtrans %}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    {# include the block  footer here#}
    {% include "MainBundle:Footer:supinfofooter.html.twig" %}
{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}