{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'register' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'register' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'register' %} title {% endtrans %}
{% endblock  %}
{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
{% endblock %}

{% block mainLg %}
<div class="row pageGeolocation" id="mainContentLg" data-geolocation="geolocation">
    <div class="container">
    <div class="row" id="mainRegister" data-page="mainRegister">

        <div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-confirm="{% trans from 'register' %} form.notification.success {% endtrans %}">
            <div class="modal-dialog " role="document">
                <div class="modal-content bg-success">
                    <div class="modal-body text-white">
                        <center>
                            <h4 class="card-title">{% trans from 'register' %} form.notification.content {% endtrans %}</h4>
                            <p class="card-text">
                                <img src="{{ asset('bundles/main/img/loading.gif') }}" alt="">
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-5" id="block1">
                    <h4>
                        {% trans from 'register' %} block.title {% endtrans %}
                        <strong> {% trans from 'register' %} block.important {% endtrans %} </strong>
                    </h4>
                    <br>
                    <span> {% trans from 'register' %} block.content {% endtrans %} </span>
                    <br><br><br>
                    <div class="row">
                        <div class="col-sm-8" id="block-btn">
                            <button class="btn btn-danger">{% trans from 'register' %} block.google {% endtrans %}</button>
                            <button class="btn btn-primary">{% trans from 'register' %} block.facebook {% endtrans %}</button>
                        </div>
                        <div class="col-sm-4 pull-lg-2" id="block-or">
                            {% trans from 'register' %} block.signup {% endtrans %}
                            <div id="or-content">{% trans from 'register' %} block.or {% endtrans %}</div>
                            <div id="img-content">
                                <div  style="background: url('{{ asset('data/img/left.png') }}') no-repeat;" id="left-img">
                                </div>
                                <div  style="background: url('{{ asset('data/img/bottom.png') }}') no-repeat;" id="bottom-img">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 pull-right col-lg-7">
                  <div class="row">
                      <div class="col-sm-12 col-lg-2">
                      </div>
                      <div class="col" id="block2">
                          <form action="">
                              <h3>{% trans from 'register' %} form.title {% endtrans %}</h3>
                              <h5>{% trans from 'register' %} form.content {% endtrans %}</h5>
                              <br>
                              <br>
                             <div class="row">
                                 <div class="col">
                                     <label for="lastname">{% trans from 'register' %} form.body.lastname {% endtrans %}*</label>
                                     <div class="form-group" id="block-lastname">
                                         <input aria-describedby="lastnameHelp"  data-toggle="tooltip" data-placement="top" title="{% trans from 'register' %} form.required.lastname_tooltip {% endtrans %}" class="form-control" type="text" id="lastname" placeholder="{% trans from 'register' %} form.placeholder.lastname {% endtrans %}">
                                         <div class="form-control-feedback">{% trans from 'register' %} form.required.lastname {% endtrans %}</div>
                                         <small class="form-text text-muted">{% trans from 'register' %} form.help.lastname {% endtrans %}</small>
                                     </div>
                                 </div>

                                 <div class=" col-12 col-lg-6">
                                     <label for="name">{% trans from 'register' %} form.body.name {% endtrans %}*</label>
                                     <div class="form-group" id="block-name">
                                         <input type="text" data-toggle="tooltip" data-placement="top" title="{% trans from 'register' %} form.required.name_tooltip {% endtrans %}" class="form-control register-tooltip"  id="name" placeholder="{% trans from 'register' %} form.placeholder.name {% endtrans %}">
                                         <div class="form-control-feedback">{% trans from 'register' %} form.required.name {% endtrans %}</div>
                                     </div>
                                 </div>
                             </div>

                              <div class="form-group row" id="block-email">
                                  <label for="email" class="col-sm-12 col-lg-3 col-form-label">{% trans from 'register' %} form.body.email {% endtrans %}*</label>
                                  <div class="col-sm-12 col-lg-9">
                                      <input class="form-control" type="email" id="email" title="{% trans from 'register' %} form.required.email {% endtrans %}" placeholder="{% trans from 'register' %} form.placeholder.email {% endtrans %}">
                                  </div>
                              </div>
                              <div class="form-group row" id="block-country">
                                  <label for="country" class="col-sm-12 col-lg-3 col-form-label">{% trans from 'register' %} form.body.country {% endtrans %}*</label>
                                  <div class="col-sm-12 col-lg-9" id="block-email">
                                      <select data-country="{% if app.request.locale=='fr' %}{{ asset('dist/country.json') }} {% else %} {{ asset('dist/country-en.json') }}{% endif %}" class="form-control" type="text" id="country" title="{% trans from 'register' %} form.required.country {% endtrans %}">
                                          <option  value="">{% trans from 'register' %} form.placeholder.country {% endtrans %}</option>
                                      </select>
                                      <div class="form-control-feedback">{% trans from 'register' %} form.required.country {% endtrans %}</div>
                                  </div>
                              </div>
                              <div class="form-group row" id="block-birdthday">
                                  <label for="birthday" class="col-sm-12 col-lg-3 col-form-label">{% trans from 'register' %} form.body.birthday {% endtrans %}*</label>
                                  <div class="col-sm-3 col-lg-3" id="block-day">
                                      <select class="custom-select form-control" id="day">
                                          <option selected value="">{% trans from 'register' %} form.body.birthdayOption.day {% endtrans %}</option>
                                          {% for item in days %}
                                              <option value="{{ item }}"> {{ item }}</option>
                                          {% endfor %}
                                      </select>
                                      <div class="form-control-feedback">{% trans from 'register' %} form.required.birthdayOption.day {% endtrans %}</div>
                                  </div>
                                  <div class="col-sm-3 col-lg-3" id="block-month">
                                      <select class="custom-select form-control" id="month">
                                          <option selected value="">{% trans from 'register' %} form.body.birthdayOption.month {% endtrans %}</option>
                                          {% for item in months %}
                                              <option value="{{ item }}"> {{ item }}</option>
                                          {% endfor %}
                                      </select>
                                      <div class="form-control-feedback">{% trans from 'register' %} form.required.birthdayOption.month {% endtrans %}</div>
                                  </div>
                                  <div class="col-sm-3 col-lg-3" id="block-year">
                                      <select class="custom-select form-control" id="year">
                                          <option selected value="">{% trans from 'register' %} form.body.birthdayOption.year {% endtrans %}</option>
                                          {% for item in years %}
                                              <option value="{{ item }}"> {{ item }}</option>
                                          {% endfor %}
                                      </select>
                                      <div class="form-control-feedback">{% trans from 'register' %} form.required.birthdayOption.year {% endtrans %}</div>
                                  </div>
                              </div>
                              <div class="form-group row" id="block-gender">
                                  <label for="gender" class="col-sm-12 col-lg-3 col-form-label">{% trans from 'register' %} form.body.gender {% endtrans %}*</label>
                                  <div class="col-sm-12 col-lg-9" >
                                      <select class="custom-select form-control " id="gender">
                                          <option selected value="">{% trans from 'register' %} form.placeholder.gender {% endtrans %}</option>
                                          <option value="M">{% trans from 'register' %} form.body.genderList.1 {% endtrans %}</option>
                                          <option value="F">{% trans from 'register' %} form.body.genderList.2 {% endtrans %}</option>
                                      </select>
                                      <div class="form-control-feedback">{% trans from 'register' %} form.required.gender {% endtrans %}</div>
                                  </div>
                              </div>

                              <div class="form-group row" id="block-reason">
                                  <label for="reason" class="col-sm-12 col-lg-3 col-form-label">{% trans from 'register' %} form.body.reason {% endtrans %}*</label>
                                  <div class="col-sm-12 col-lg-9" >
                                      <select class="custom-select form-control" id="reason">
                                          <option selected value="">{% trans from 'register' %} form.placeholder.reason {% endtrans %}</option>
                                          <option value="1">{% trans from 'register' %} form.body.reasonList.1 {% endtrans %}</option>
                                          <option value="2">{% trans from 'register' %} form.body.reasonList.2 {% endtrans %}</option>
                                          <option value="3">{% trans from 'register' %} form.body.reasonList.3 {% endtrans %}</option>
                                      </select>
                                      <div class="form-control-feedback">{% trans from 'register' %} form.required.reason {% endtrans %}</div>
                                  </div>
                              </div>

                              <div class="form-group row" id="block-password">
                                  <label for="password" class="col-sm-12 col-lg-3 col-form-label">{% trans from 'register' %} form.body.password {% endtrans %}*</label>
                                  <div class="col-sm-12 col-lg-9">
                                      <input class="form-control" type="password" id="password" placeholder="{% trans from 'register' %} form.placeholder.password {% endtrans %}">
                                      <div class="form-control-feedback">{% trans from 'register' %} form.required.password {% endtrans %}</div>
                                  </div>
                              </div>
                              <div class="form-group row" id="block-confirmpassword" style="display: none;">
                                  <label for="confirmpassword" class="col-sm-12 col-lg-3 col-form-label">{% trans from 'register' %} form.body.confirmpassword {% endtrans %}*</label>
                                  <div class="col-sm-12 col-lg-9">
                                      <input class="form-control" type="password" id="confirmpassword" placeholder="{% trans from 'register' %} form.placeholder.confirmpassword {% endtrans %}">
                                      <div class="form-control-feedback">{% trans from 'register' %} form.required.confirmpassword {% endtrans %}</div>
                                  </div>
                              </div>

                              <div class="alert alert-danger" role="alert" id="errorMessage" style="display: none;">
                                  <strong>{% trans from 'register' %} form.required.error {% endtrans %}</strong>
                                  <span></span>
                              </div>

                              <div class="form-group row">
                                  <div class="col-sm-12">
                                      <button type="submit" class="btn btn-primary  pull-right" id="btnsave">{% trans from 'register' %} form.body.btnsignup {% endtrans %}</button>
                                  </div>
                              </div>

                          </form>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {% include "MainBundle:Footer:registerFooter.html.twig" %}
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}

{% endblock %}

