{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'login' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'login' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'login' %} reset.title {% endtrans %}
{% endblock  %}


{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
{% endblock %}

{% block main %}
    <div class="row" id="mainLogin">
        {% if valid == 1 %}
            <div class="col-sm-12 offset-lg-3 col-lg-6" id="content-login">
                <p>{% trans from 'login' %} reset.msg {% endtrans %}</p>

                <form method="post">
                    <div class="form-group">
                        <label for="password">{% trans from 'login' %} form.lblpswd {% endtrans %}</label>
                        <input type="password" class="form-control" id="password"  placeholder="" minlength="6">
                    </div>

                    <div class="form-group">
                        <label for="conf-password">{% trans from 'login' %} reset.lblconfpswd {% endtrans %}</label>
                        <input type="password" class="form-control" id="conf-password" name="password" placeholder="" minlength="6">
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" type="submit" id="btn-submit">{% trans from 'login' %} reset.btnreset {% endtrans %}</button>
                        </div>
                    </div>
                </form>
            </div>
        {% elseif valid == 2 %}
            <div class="col-sm-12 offset-lg-3 col-lg-6 reset-msg-notice">
                <div class="alert alert-success">{{ message }}</div>
                <br/>
                <a href="{{ path('main_login') }}">{% trans from 'login' %} reset.msgsuccess {% endtrans %}</a>
            </div>
        {% else %}
            <div class="col-sm-12 offset-lg-3 col-lg-6 reset-msg-notice">
                <div class="alert alert-danger">{{ message }}</div>
                <br/>
                <a href="{{ path('main_forgot_password') }}">{% trans from 'login' %} reset.msgerror {% endtrans %}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}



