{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    {% trans from 'home' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
    <link rel="stylesheet" href="{{ asset('dist/sidenav/sidenav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('plugin/nanoScroller/nanoscroller.min.css') }}" type="text/css">
{% endblock %}

{% block header %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
{% endblock %}

{% block main %}
    {% include 'AdminBundle:Inc:pascalnavbar.html.twig' %}

    <nav class="sidenav show freeze" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <div class="sidenav-brand">FUNGLOBE </div>

        <div class="sidenav-header">
            Eric Cabrel TIOGO
            <small>Profile</small>
        </div>

        <div class="nanon">
            <div class="nano-contentn">
                <ul class="sidenav-menu">
                    <li>
                        <a href="#" data-sidenav-dropdown-toggle class="{% if menuindex == 0 %}active{% endif %}">
                            <span class="sidenav-link-icon"><i class="fa fa-users"></i></span>
                            <span class="sidenav-link-title">Members</span>
                            <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                        <i class="fa fa-angle-down"></i>
                    </span>
                            <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                        <i class="fa fa-angle-up"></i>
                    </span>
                        </a>
                        <ul class="sidenav-dropdown" data-sidenav-dropdown>
<<<<<<< HEAD
                            <li><a href="{{ path('admin_members') }}">Members list</a></li>
=======
                            <li><a id="latest_members" href="#">Members list</a></li>
>>>>>>> a04da451cff7b578491d1e043d039e075fb06924
                            <li><a href="#">Denounced members</a></li>
                            <li><a href="#">Spam members</a></li>
                            <li><a href="#">Deleted members</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" data-sidenav-dropdown-toggle class="{% if menuindex == 1 %}active{% endif %}">
                            <span class="sidenav-link-icon"><i class="fa fa-image"></i></span>
                            <span class="sidenav-link-title">Pictures</span>
                            <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-i1con>
                        <i class="fa fa-angle-down"></i>
                    </span>
                            <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                        <i class="fa fa-angle-up"></i>
                    </span>
                        </a>

                        <ul class="sidenav-dropdown" data-sidenav-dropdown>
<<<<<<< HEAD
                            <li><a href="{{ path('admin_pictures') }}">Latest pictures</a></li>
=======
                            <li><a id="latest-pictures" href="#">Latest pictures</a></li>
>>>>>>> a04da451cff7b578491d1e043d039e075fb06924
                            <li><a href="#">Denounced pictures</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" data-sidenav-dropdown-toggle class="{% if menuindex == 2 %}active{% endif %}">
                            <span class="sidenav-link-icon"><i class="fa fa-envelope"></i></span>
                            <span class="sidenav-link-title">Messages</span>
                            <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
                        <i class="fa fa-angle-down"></i>
                    </span>
                            <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
                        <i class="fa fa-angle-up"></i>
                    </span>
                        </a>

                        <ul class="sidenav-dropdown" data-sidenav-dropdown>
                            <li> <a id="latest_messages" href="#"> Latest messages</a></li>
                            <li><a href="#">Blocked messages</a></li>
                            <li><a href="#">Suspect messages</a></li>
                            <li><a href="#">Spam messages</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{ path('admin_settings') }}" class="{% if menuindex == 3 %}active{% endif %}">
                            <span class="sidenav-link-icon"><i class="fa fa-gears"></i></span>
                            <span class="sidenav-link-title">Settings</span>
                        </a>
                    </li>

                    <li>
<<<<<<< HEAD
                        <a href="{{ path('admin_home') }}" class="{% if menuindex == 4 %}active{% endif %}">
=======
                        <a  href="#">
>>>>>>> a04da451cff7b578491d1e043d039e075fb06924
                            <span class="sidenav-link-icon"><i class="fa fa-area-chart"></i></span>
                            <span class="sidenav-link-title" id="stats-link">Statistics</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('main_logout') }}">
                            <span class="sidenav-link-icon"><i class="fa fa-sign-out"></i></span>
                            <span class="sidenav-link-title">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--<a href="#" class="toggle" id="sidenav-toggle"><i class="fa fa-bars"></i></a>-->

    <div id="adm-content">

        <div id="admin-help">
            {% include 'AdminBundle:Tab:admin-help.html.twig' %}
        </div>

        <div id="latest-members-list">
            {% include 'AdminBundle:Tab:members.html.twig' %}
        </div>

        <div id="latest-pictures-list">
            {% include 'AdminBundle:Tab:pictures.html.twig' %}
        </div>


        <div id="stats">
            {% include 'AdminBundle:Tab:stats.html.twig' %}
        </div>

        {% block admcontent %}

        {% endblock %}
    </div>
{% endblock %}

{% block myjs %}
    <script src="{{ asset('dist/sidenav/sidenav.js') }}"></script>
    <script src="{{ asset('plugin/nanoScroller/jquery.nanoscroller.min.js') }}"></script>
    <script>$('[data-sidenav]').sidenav();</script>
{% endblock %}





